@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --verde-claro: #00ff00; /* cor principal relacionada à saúde. */
  --verde-escuro: #00cc66; /* Um tom um pouco mais escuro proporcionando contraste e variação. */
  --branco-esverdeado: #f4fff8; /* Um tom de verde muito claro ou branco esverdeado, transmitindo uma sensação de frescor e pureza. */
  --laranja: #ffa500; /* Um tom de laranja, representando vitalidade e energia. */
  --branco: #ffffff; /* Branco puro, sugerindo limpeza e higiene. */
}
